.hidden { display: none; }

$main-bg-color:black;
$main-color: white;
$main-font-face: 'Times New Roman', serif;


$main-font-size: 1.2rem;

$heading-color: rgba(255, 255, 255, 0.5);

// quick reset
* {
    border: none;
}